BREVO_API_KEY=your_brevo_api_key_here
BREVO_SENDER_EMAIL=your_sender_email@example.com
BREVO_SENDER_NAME=Your CRM Name
CORS_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://postgres:password@localhost:5432/crm_manager?schema=public
FRONTEND_URL=http://localhost:3000
JWT_EXPIRE=24h
JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=development
PORT=5000
